.Image{
    position: relative;
    width: 100%;
    height: max-content;


    &__Background{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    }

    &__Play{
        position: absolute;
        top: calc(50% - 60px);
        left: calc(50% - 60px);
        border-radius: 60px;
        backdrop-filter: blur(20px);
    }

    .Play{

        &__Circle{
            fill: rgba(255, 255, 255, 0.8);
        }

        &__Arrow{
            fill: black;
        }
    }
}