.recipeVideo{
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 100vh;
    margin-bottom: 80px;

    &__Description{
        opacity: 0.6;
    }
}

@media(min-width:945px){
    .recipeVideo{
        display: grid;
        grid-template-columns: 70% 25%;
        gap: 5%;
        height: 100%;
    }
}