.Header {
    display: grid;
    grid-template-columns: 60% 10% 30%;
    grid-template-areas: 'title .  icons''details .  icons';
    gap: 30px;

    &__Details {
        display: flex;
        grid-area: details;
    }

    &__Author {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        text-align: center;
        padding-right: 50px;

        &Date {
            margin-left: 10px;
            font-size: 12px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.6);
        }
    }

    &__Time{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 32px;
        gap: 8px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        font-weight: 500;
        border-right: 1px solid rgba(0, 0, 0, 0.1);

        .Time{
            &__Text{
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }
    }

    &__Type{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 32px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        font-weight: 500;
        gap: 8px;
        border-radius: 30px;
    }

    &__Icons{
        grid-area: icons;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;

    }

    &__Icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        &Image{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            border-radius: 50px;
            background-color: #E7FAFE;
        }

        &Text{
            font-size: 14px;
            font-weight: 500;
        }
    }
}

@media(max-width:800px){
    .Header{
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__Details{
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }

        &__Author{
            padding: 0;
        }
        &__Time{
            padding: 0;
        }

        &__Type{
            padding: 0;
        }
    }
}